<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Wiadomości</title>

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <link rel="icon"
          type="image/png"
          th:href="@{/img/favicon.png}" sizes="32x32" />

    <!-- CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<body id="page-top" th:attr="data-sender-id=${pracownik.id}">
<div id="wrapper">
    <!-- SIDEBAR -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="d-flex align-items-center justify-content-center" th:href="@{/index}">
            <img class="img-logo" th:src="@{/img/system-call-center.png}" alt="Logo">
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item"><a class="nav-link" th:href="@{/wizyty}"><i class="fas fa-fw fa-calendar-week"></i><span class="ml-1">Wizyty</span></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/klienci}"><i class="fas fa-fw fa-users"></i><span class="ml-1">Klienci</span></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/dokumenty}"><i class="fas fa-fw fa-file"></i><span class="ml-1">Dokumenty</span></a></li>
        <li class="nav-item active"><a class="nav-link" th:href="@{/chat}"><i class="fas fa-fw fa-inbox"></i><span class="ml-1">Wiadomości</span></a></li>
        <hr class="sidebar-divider d-none d-md-block">
    </ul>

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TOPBAR -->
            <nav class="navbar navbar-expand navbar-light topbar mb-4 mt-2 static-top">
                <h1 class="h2 ml-3 mt-2 font-weight-bold">WIADOMOŚCI</h1>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw text-gray-700"></i>
                            <span class="badge badge-danger badge-counter">2+</span>
                        </a>
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">Powiadomienia</h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary"><i class="fas fa-file-alt text-white"></i></div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">Kwiecień 12, 2025</div>
                                    <span class="font-weight-bold">Nowy raport miesięczny jest gotowy do pobrania.</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success"><i class="fas fa-donate text-white"></i></div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">Kwiecień 1, 2025</div>
                                    Uzyskane zyski w poprzednim miesiącu: 21 370 zł.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Wszystkie powiadomienia</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="ml-1 d-none d-lg-inline text-gray-700 figure-caption"
                      th:text="${pracownik.imie} + ' ' + ${pracownik.nazwisko}"></span>
                            <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.svg}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Wyloguj się
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            <!-- PAGE CONTENT -->
            <div class="container-fluid">
                <div class="card shadow mb-4">

                    <div class="messenger-wrapper d-flex">
                        <!-- ===== LEWY PANEL (lista konwersacji) ===== -->
                        <aside id="sidebar" class="d-flex flex-column">
                            <div id="conversationList" class="flex-grow-1 overflow-auto">

                            </div>
                        </aside>

                        <!-- ===== CZAT Z WYBRANYM UŻYTKOWNIKIEM ===== -->
                        <section id="chat-pane" class="d-flex flex-column flex-grow-1 ml-5">
                            <header class="chat-header align-items-center mt-2">
                                <div class="receiver-info">
                                    <span id="chatReceiverName" class="font-weight-bold"></span><br>
                                    <small id="chatReceiverRole" class="text-muted">Pracownik</small>
                                    <span id="receiverIdMessage" style="display:none;"></span>
                                </div>
                                <div class="receiver-avatar">
                                    <img id="receiverAvatar" src="" alt="" class="rounded-circle" style="width:40px;height:40px;display:none;">
                                </div>
                            </header>
                            <!-- Wiadomości -->
                            <main id="conversationMessages" class="flex-grow-1 overflow-auto p-3">

                            </main>

                            <!-- Pasek wprowadzania -->
                            <footer id="chat-input-bar" class="d-flex align-items-center">
                                <textarea id="newMessage" class="form-control flex-grow-1" rows="1"
                                          placeholder="Wprowadź wiadomość"></textarea>
                                <button type="button" class="btn btn-primary rounded-circle px-3 ml-4"
                                        onclick="sendNewMessage()">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </footer>
                        </section>
                    </div>
                </div>

            </div>

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chcesz się wylogować?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz „Wyloguj się” poniżej, jeśli chcesz zakończyć bieżącą sesję.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <a class="btn btn-primary" th:href="@{/login?logout}">Wyloguj się</a>
            </div>
        </div>
    </div>
</div>

<div id="preloader"></div>

<!-- JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/js/demo/datatables-demo.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/messages.js}"></script>
</body>
</html>
